@model IEnumerable<Models.DatabaseModels.FeeViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Content/admin/_Layout.cshtml";
}
<div class="add_margin">
<br />

<p>
    @Html.ActionLink("Add New Fee Structure", "Create", new Object { },  new { @class = "btn" })
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            First Semester Fee
        </th>
        <th>
            Second Semester Onward Fee
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in ViewBag.FeeList)
{
    <tr>
        <td>
            @item.FirstSemesterFee
        </td>
        <td>
            @item.SecondSemesterOnward
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit",  new { id=@item.Id},new { @class = "btn mini purple" }) |
            @Html.ActionLink("Details", "Details", new { id=@item.Id },new { @class = "btn mini black" })  |
            @Html.ActionLink("Delete", "Delete", new { id=@item.Id },new { @class = "btn mini blue" })
        </td>
    </tr>
}

</table>
</div>