@model Models.DatabaseModels.UniversityViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Content/admin/_Layout.cshtml";
}

<div class="add_margin">
<h2>Details</h2>

<fieldset>
    <legend>UniversityViewModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(university => university.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(university => university.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(university => university.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(university => university.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(university => university.Introduction)
    </div>
    <div class="display-field">
        @Html.DisplayFor(university => university.Introduction)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(university => university.Admission_details)
    </div>
    <div class="display-field">
        @Html.DisplayFor(university => university.Admission_details)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(university => university.ImageData)
    </div>
    <div class="display-field">
        @Html.DisplayFor(university => university.ImageData)
    </div>

    
   
    
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
</div>