@model Models.DatabaseModels.UniversityViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Content/admin/_Layout.cshtml";
}

<div class="add_margin">


<fieldset>
    <legend>University Details</legend>

    <div class="display-label">
         <b>Name</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(university => university.Name)
    </div>

    <div class="display-label">
        <b>City</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(university => university.City)
    </div>

    <div class="display-label">
         <b>Introduction</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(university => university.Introduction)
    </div>
    <div class="display-label">
         <b>Website</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(university => university.Website)
    </div>
    <div class="display-label">
         <b>Address</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(university => university.Address)
    </div>
    <div class="display-label">
         <b>Sector</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(university => university.Sector)
    </div>

    

    <div class="display-label">
         @Html.DisplayNameFor(university => university.ImageData)
    </div>
    <div class="display-field">
        @Html.DisplayFor(university => university.ImageData)
    </div>

    
   
    
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
</div>