@model Models.DatabaseModels.UniversityViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Content/admin/_Layout.cshtml";
}

<div class="add_margin">

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Edit</legend>

        @Html.HiddenFor(university =>university.Id)

        <div class="control-label">
            Name
        </div>
        <div class="controls">
            @Html.TextBoxFor(university=>university.Name, new { @class = "large m-wrap" })
            @Html.ValidationMessageFor(university => university.Name)
        </div>

        <div class="control-label">
            City
        </div>
        <div class="controls">
            @Html.TextBoxFor(university=> university.City, new { @class = "large m-wrap" })
            @Html.ValidationMessageFor(university => university.City)
        </div>

        <div class="control-label">
           Introduction
        </div>
        <div class="controls">
            @Html.TextAreaFor(university => university.Introduction, new { @class = "span12 wysihtml5 m-wrap" , @rows="6" })
            @Html.ValidationMessageFor(university => university.Introduction)
        </div>

        

        <div class="control-label">
            Image
        </div>
        <div class="controls">
            @Html.TextBoxFor(university => university.ImageData, new { @class = "large m-wrap" })
            @Html.ValidationMessageFor(university =>university.ImageData)
        </div>
        <div class="control-label">
           Website
        </div>
        <div class="controls">
            @Html.TextBoxFor(university => university.Website, new { @class = "large m-wrap" })
            @Html.ValidationMessageFor(university =>university.Website)
        </div>
        <div class="control-label">
          Address
        </div>
        <div class="controls">
            @Html.TextBoxFor(university => university.Address, new { @class = "large m-wrap" })
            @Html.ValidationMessageFor(university =>university.Address)
        </div>
        <div class="control-label">
           Sector
        </div>
        <div class="controls">
            @Html.TextBoxFor(university => university.Sector, new { @class = "large m-wrap" })
            @Html.ValidationMessageFor(university =>university.Sector)
        </div>

         <p>
            <input type="submit" value="Save" / class="btn blue">
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
</div>

